 # this a text shift + enter

In [2]:
2+3

5

In [4]:
2**7

128

In [5]:
print("Hello World  ! ! !")

Hello World  ! ! !

In [6]:
pi = 3.14

In [8]:
Radius=4

In [12]:
Area=pi*Radius*Radius
Area

50.24

In [13]:
Name="James"
Surname = "Bond"

In [15]:
print("Name is ",Name,Surname)

Name is  James Bond

In [18]:
Age=1

In [21]:
print(Name,Surname,"is",Age,"  Old")

James Bond is 1   Old

In [22]:
x=2
y=3
z=x+y

In [23]:
print(x<y)

True

In [24]:
TempF=100
TempC=(TempF-32)*5/9
print("Temperature in Celcius = ",TempC)

Temperature in Celcius =  37.77777777777778

In [31]:
def FtoC(x):
    y=(x-32)*5/9
    print("Temperature in Celcius = ",y)
    return(y)

In [37]:
def FtoC1(x):
    print("Temperature in Celcius = ",(x-32)*5/9)
    return((x-32)*5/9)

In [44]:
for Tf in [0,100,200,500,1,2]:
    Tc=FtoC(Tf)
    print("Temperature is ",Tc)

Temperature in Celcius =  -17.77777777777778
Temperature is  -17.77777777777778
Temperature in Celcius =  37.77777777777778
Temperature is  37.77777777777778
Temperature in Celcius =  93.33333333333333
Temperature is  93.33333333333333
Temperature in Celcius =  260.0
Temperature is  260.0
Temperature in Celcius =  -17.22222222222222
Temperature is  -17.22222222222222
Temperature in Celcius =  -16.666666666666668
Temperature is  -16.666666666666668

In [45]:
for char in "PDPU":
    print(char)

P
D
P
U

In [46]:
Tf=[0,10,30,40,50,1000]

In [58]:
Tf=range(1,10)

In [62]:
len(Tf)

9

In [63]:
Tc=[]

In [64]:
for f in Tf:
    Tc.append(FtoC(f))

Temperature in Celcius =  -17.22222222222222
Temperature in Celcius =  -16.666666666666668
Temperature in Celcius =  -16.11111111111111
Temperature in Celcius =  -15.555555555555555
Temperature in Celcius =  -15.0
Temperature in Celcius =  -14.444444444444445
Temperature in Celcius =  -13.88888888888889
Temperature in Celcius =  -13.333333333333334
Temperature in Celcius =  -12.777777777777779

In [65]:
Tc[1]

-16.666666666666668