# Example of Data Analysis with Python

In [ ]:
# Import Required Libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns # Library for data visualization
%matplotlib inline

sns.set(style="darkgrid")

# Load the Fortune 500 data-set in CSV file which contains rating of Forune 500 companies for 50 years from 1955

In [ ]:
#df = pd.read_csv(r"C:\Users\santosh.d\Desktop\Fortune_500US.csv",encoding = 'ISO-8859-1')
df = pd.read_csv(r"C:\Users\santosh.d\Desktop\fortune50050.csv")

In [ ]:
df

In [ ]:
df.head() #print first 5 values

In [ ]:
df.tail() #print last 5 values

# To have better control on colloumns we will change the name of the colloumns by removing special characters and spaces

In [ ]:
#df.columns = ['rank', 'company', 'Employee', 'PrevRanK', 'Revenues','RevenueChange', 'Profits', 'ProfitChange', 'Assets', 'MarketVale']
df.columns = ['year', 'rank','company','revenue','profit']

In [ ]:
df.head()

In [ ]:
df.dtypes

# Clean the data-set

In [ ]:
df1=df
#df1=~df.profit.str.contains('N.A.')
df1=df.profit.str.contains("[0-9]+")
df2=df[df1] # copy with numerical values in profit colooumn
df_missing=df[~df1]
df2

# Plot the histogram of the missing values in Profit Coloumn year wise

In [ ]:
bins = plt.hist(df_missing.year, bins=range(1955, 2006))

# Create a year-wise group to calculate mean profite and revenues

In [ ]:
df2.profit=df2.profit.apply(pd.to_numeric)
df_grouped=df2.loc[:,:].groupby('year')

In [ ]:
df_grouped.size()

In [ ]:
def myplot(x,y,x_label,y_label,title):
    plt.plot(x,y)
    plt.xlabel(x_label)
    plt.ylabel(y_label)
    plt.legend()
    plt.title(title)
    plt.show()

#plt.plot(df_grouped.revenue.std(),df_grouped.profit.std())

In [ ]:
myplot(df_grouped.revenue.std(),df_grouped.profit.std(),"Revenue Standard Deviation","Profit Standard Deviation","abc")

# Plot with Myplot Function

In [ ]:
x_label="Revenue Standard Deviation"
y_label="Profit Standard Deviation"
title="Revenue vs Profit (Standard DEviation)"
myplot(df_grouped.revenue.std(),df_grouped.profit.std(),x_label,y_label,title)

In [ ]:
x_label="Year"
y_label="Profit Mean"
title="Profit (Mean)"
myplot(df_grouped.mean().index,df_grouped.profit.mean(),x_label,y_label,title)

In [ ]:

df_group_company=df2.loc[:,:].groupby('company')

# Get slice of data frame for a company say - General Motors

In [ ]:

df_GM=df_group_company.get_group('General Motors')
df_GM

# Plot the Revenue and Proift vs Years for General Motors

In [ ]:
x_label="Year"
y_label="Profit"
title="Yearly Profit of GM from 1995 to 2005"
myplot(df_GM.year,df_GM.profit,x_label,y_label,title)

In [ ]:
x_label="Year"
y_label="Revenue"
title="Yearly Revenue of GM from 1995 to 2005"
myplot(df_GM.year,df_GM.revenue,x_label,y_label,title)

# Plotting Side by Side

In [ ]:
x_label="Year"
y_label="Revenue"
title="Yearly Revenue of GM from 1995 to 2005"
myplot(df_GM.year,df_GM.revenue,x_label,y_label,title)

x_label="Year"
y_label="Profit"
title="Yearly Profit of GM from 1995 to 2005"
myplot(df_GM.year,df_GM.profit,x_label,y_label,title)

# Create a new df for company - "Exxon Mobil" and make comparative plots  with GM